@font-face {
  font-family: 'StRydeRegular';
  src: url("webfonts/272713_0_0.eot");
  src: url("webfonts/272713_0_0.eot?#iefix") format("embedded-opentype"), url("webfonts/272713_0_0.woff") format("woff"), url("webfonts/272713_0_0.ttf") format("truetype"); }

.StRydeRegular {
  font-family: StRydeRegular;
  font-weight: normal;
  font-style: normal; }

* {
  font-family: "StRydeRegular", "Lato", "Verdana";
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: black; }
  * h1, * h2, * h3, * h4, * h5, * .beta {
    font-family: "Lato", "Verdana";
    font-weight: 700; }
  * h1 {
    text-align: center;
    font-size: 80px; 
    margin-bottom: 10px; }
  * h2 {
    font-size: 30px; }
  * h3 {
    margin-top: 0px;
    font-size: 20px; }
  * h5 {
    margin-top: 0px; }

body {
  background-color: white;
  margin: 0px; }
  body .container {
    /*box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.65);*/
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100%;
    background-color: white; }
    body .container .beta {
      position: absolute;
      top: 35px;
      left: -45px;
      display: block;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      letter-spacing: 2px;
      line-height: 19px;
      width: 200px;
      padding: 5px;
      font-weight: 700;
      text-align: center;
      font-size: 14px;
      color: white;
      background-color: #5151cc;
      /*border: 1px solid #232323;*/ }
    body .container h1 .small {
      font-size: 12px; }
    body .container .information {
      display: inline-block; }
      body .container .information .logo {
        float: left;
        margin-right: 15px; }
        body .container .information .logo img {
          padding: 5px;
          background-color: #4d4d4d;
          border: 1px solid #595959; }
      body .container .information .text {
        width: 700px;
        float: right; 
        text-align: center;
        margin-bottom: 20px;
      }
      body .smallcontainer-left {
        width: 330px;
        float: left;
      }
      body .smallcontainer-right {
        width: 330px;
        float: right;
      }
    body .container .about {
      margin-top: 50px;
      width: 100%; 
    }
      body .container .about .person {
        width: 49%; 
        display: inline-block;
      }
        body .container .about .person .details {

          height: 120px; }
        body .container .about .person img {
          height: 100px;
          width: 100px;
          float: left;
          margin-right: 10px; 
        }
        .container .about .person .details p {
          margin: 0;
        }
        .container .about .person .details h5 {
          margin: 0;
        }

    body .container .clear {
      clear: both; }
