@import "bourbon/bourbon";

$dark-grey: #585340;
$light-gret: #b7ae9d;
$almost-white: #fafffc;
$sky: #accecd;
$blood: #8a151b;
$pink: #bc6367;

@font-face {
  font-family: 'StRydeRegular';
  src: url('webfonts/272713_0_0.eot');
  src: url('webfonts/272713_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/272713_0_0.woff') format('woff'),url('webfonts/272713_0_0.ttf') format('truetype');
}

.StRydeRegular { 
	font-family: StRydeRegular;
	font-weight: normal;
	font-style: normal;
}

* {
  font-family: "StRydeRegular", "Lato", "Verdana";
	font-weight: normal;
	font-style: normal;
  font-size: 14px;
  color: white;
  h1, h2, h3, h4, h5, .beta {
    font-family: "Lato", "Verdana";
    font-weight: 700;
  }
  h1 {
    text-align: center;
    font-size: 45px;
  }
  h3 {
    margin-top: 0px;
    font-size: 20px;
  }
}

body {
  background-color: lighten(black, 15%);
  margin: 0px;
  .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    background-color: lighten(black, 25%);
    .beta {
      @include position( absolute, 35px 0 0 -45px  );
      display: block;
      @include transform(rotate(-45deg));
      letter-spacing: 2px;
      line-height: 15px;
      width: 200px;
      padding: 5px;
      font-weight: 600;
      text-align: center;
      font-size: 11px;
      color: white;
      background-color: shade(lighten(blue,20), 20%);
    }
    h1 {
      .small {
        font-size: 12px;
      }
    }
    overflow: hidden;
    .information {
      display: inline-block;
      .logo {
        float: left;
        img {
          padding: 5px;
          background-color: lighten(black, 30%);
          border: 1px solid lighten(black, 35%);
        }
        margin-right: 15px;
      }
      .text {
        width: 500px;
        float: right;
      }
    }
    .about {
      margin-top: 50px;
      width: 100%;
      .person {
        width: 100%;
        .details {
          display: inline-block;
          width: 200px;
          height: 120px;
        }

        img {
          height: 100px;
          width: 100px;
          float: left;
          margin-right: 10px;
        }   
      }
    }
    .clear {
      clear: both;
    }
  }
}
