* {
  font-family: "Lato", "verdana";
  font-size: 14px;
  color: white; }

body {
  background-color: #262626;
  margin: 0px; }
  body .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    background-color: #404040; }
    body .container .logo img {
      padding: 5px;
      background-color: #4d4d4d;
      border: 1px solid #595959; }
    body .container .beta {
      overflow-x: hidden;
      position: absolute;
      top: 35px;
      left: -45px;
      display: block;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      letter-spaceing: 2px;
      line-height: 15px;
      width: 200px;
      padding: 5px;
      font-weight: 700;
      text-align: center;
      font-size: 12px;
      color: white;
      background-color: #5151cc; }
    body .container h1 {
      text-align: center;
      color: white;
      font-size: 45px;
      font-width: 700; }
      body .container h1 .small {
        font-size: 12px; }
    body .container .about {
      margin-top: 50px;
      width: 100%; }
      body .container .about .person {
        width: 100%; }
        body .container .about .person .details {
          display: inline-block;
          width: 200px;
          height: 120px; }
        body .container .about .person img {
          height: 100px;
          width: 100px;
          float: left;
          margin-right: 10px; }
    body .container .clear {
      clear: both; }
