%title
  PartyQ
%link{href: "css/party.css", type: "style/css", rel: "stylesheet"}
%link{href: 'http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic', type: "style/css", rel: "stylesheets"}
.container
  %h1
    PartyQ
    %small
      Social queuing

  .beta
    beta

  .information
    .logo
      %img{src: "img/partyhat.png"}
    .text
      %h3
        What is this?
      %p 
        PartyQ is a DJ-helper for parties where everybody wants to contribute. 
        Install the app on your local computer and specify a twitter hashtag and party on! 
        Everybody can be apart of the music experience of the evening just by sharing the
        song from the spotify mobile application on their phone!

        Thats all! No installation required for your guests!
      
      %h3
        How do i get it?
      
      %p 
        It will soon be availible in spotify App-finder!
      
      %p More random information


