%title
  PartyQ
%link{href: "css/party.css", type: "style/css", rel: "stylesheet"}
%link{href: 'http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic', type: "style/css", rel: "stylesheets"}
.container
  %h1
    PartyQ
    %small
      Social queuing

  .beta
    beta

  .information
    .logo
      %img{src: "img/partyhat.png"}
    .text
      %h3
        What is this?
      %p 
        PartyQ is a DJ-helper for parties where everybody wants to contribute. 
        Install the app on your music playing computer and specify a twitter hashtag and party on! 
        Everybody can be apart of the music experience of the evening just by sharing the
        song from the spotify mobile application on their phone!

        Thats all! No installation required for your guests!
      
      %h3
        How do i get it?
      
      %p 
        It will soon be availible in spotify App-finder!
      
      %p More random information

  .about
    %h2 Something about us.
    .person
      %img
      .details
        %h5 Victor Hallberg
        %p Contact Information
        %p More info
    
    .person
      %img
      .details
        %h5 Jacob Hakansson
        %p Contact Information
        %p More info

    .person
      %img
      .details
        %h5 Ludvig Jonsson
        %p Contact Information
        %p More info

    .person
      %img
      .details
        %h5 Jennie Olsson
        %p Contact Information
        %p More info

    .person
      %img{src: "http://s.gravatar.com/avatar/26f491425e1e0507069ee7d86fa058ed?s=80"}
      .details
        %h5 Simon Strom
        %p simon.strom@gmail.com
        %p Coder by trade, wanna-be entrepreneur and all-around cute dude.
